@media (min-width: 500px) {
    .app {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .app>.resume-edit-area {
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    /* 侧边功能栏 */
    .app>.resume-edit-area .side-navigation {
        width: 160px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .app>.resume-edit-area .side-navigation>li {
        margin: 4px 0;
    }
    .app>.resume-edit-area .side-navigation>li>button {
        width: 60px;
        height: 40px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #c62f2f;
        color: white;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .app>.resume-edit-area .side-navigation>li>button:hover {
        cursor: pointer;
        transition: all 0.2s linear;
        transform: scale(1.1);
    }
    
    .app>.resume-edit-area>.main {
        /* main宽度自动填充 */
        flex-grow: 1;
        padding: 0 40px;
        background-color: #0070c0;
        overflow: auto;
    }
    .resume-edit-area>.main>.resume {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }
    .resume-edit-area>.main>.resume section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 60px 0;
        border: 1px solid red;
    }
    .resume-edit-area>.main>.resume section h1 {
        padding: 4px 0;
        width: 180px;
        margin-bottom: 12px;
        border-radius: 26px;
        text-align: center;
        color: #0070c0;
        border: 1px solid #0070c0;
    }
    .resume-edit-area>.main>.resume>.self-introduction>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resume-edit-area>.main>.resume>.self-introduction>div>div {
        margin-top: 6px;
    }
    .resume-edit-area>.main>.resume>.self-introduction>div>div.links input {
        min-width: 400px;
    }
    .resume-edit-area>.main>.resume>.self-introduction>div>div.template>span {
        font-size: 26px;
        color: black;
    }
    .resume-edit-area>.main>.resume>.self-introduction>div>div.details,
    .resume-edit-area>.main>.resume>.self-introduction>div>div.links a,
    .resume-edit-area>.main>.resume>.self-introduction>div>div.job-title,
    .resume-edit-area>.main>.resume>.skills .start,
    .resume-edit-area>.main>.resume>.skills .end {
        display: flex;
        flex-direction: row;
        color: gray;
    }
    .resume-edit-area>.main>.resume>.self-introduction svg:hover {
        cursor: pointer;
    }
    .resume-edit-area>.main>.resume>.skills>ul {
        border: 1px solid orange;
    }
    .resume-edit-area>.main>.resume>.skills>ul>li {
        margin: 6px 6px;
        border: 1px solid red;
    }
    .resume-edit-area>.main>.resume>.skills>ul li .name>span {
        color: blue;
    }
    .resume-edit-area>.main>.resume>.skills>ul li .description span {
        color: red;
    }
    .resume-edit-area>.main>.resume>.skills>ul>div>li:first-child {
        margin-right: 24px;
    }
    .resume-edit-area>.main>.resume>.projects>ol {
        margin-left: 66px;
    }
    .resume-edit-area>.main>.resume>.projects>ol>li {
        border: 1px solid red;
        margin: 24px 6px 12px 0;
    }
    .resume-edit-area>.main>.resume>.projects>ol>li>.title {
        margin-bottom: 12px;
        color: red;
    }
    .resume-edit-area>.main>.resume>.projects>ol>li>.title span:first-child {
        margin-right: 46px;
    }
    .resume-edit-area>.main>.resume>.projects>ol>li>.description {
        color: blue;
    }
    .resume-edit-area>.main>.resume>.projects>ol>li>.links {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .login-or-registered {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        background-image: url(../../img/background.png);
        height: 100vh;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 88vh;
    }
    .container h1 {
        color: #0084FF;
        font-size: 36px;
        text-align: center;
    }
    .container>p {
        margin-top: 34px;
        text-align: center;
        color: #0084FF;
        font-size: 24px;
    }
    .container .formRow {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 2px;
        padding: 6px;
    }
    .container .formRow span {
        font-size: 16px;
        margin-right: 6px;
        color: #757575;
        width: 5em;
        text-align: right;
    }
    .container .formRow input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 18px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .formRow input::-webkit-input-placeholder {
        font-size: 14px;
        color: #8590a6;
        /* color: red; */
    }
    .container .formRow input:focus {
        outline: none;
        color: black;
    }
    .container .horizon {
        height: 2px;
        background-color: #ebebeb;
    }
    .container .formActions {
        padding: 5px 0px;
        margin-top: 48px;
        display: flex;
        justify-content: center;
        background-color: #0084FF;
    }
    .container .formActions input {
        border-style: none;
        background-color: #0084FF;
        font-size: 20px;
        color: white;
    }
    .container .protocol {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .container .protocol p {
        font-size: 12px;
        color: #8590a6;
    }
    .container .protocol a {
        font-size: 12px;
        color: #3b6ca9;
        text-decoration: none;
    }
    .container .change {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #F6F6F6;
        margin: 36px 0 0 0;
        padding: 28px 0px;
        /* align-items: center; */
    }
    .container .change span {
        color: black;
    }
    .container .change>label {
        color: #0084FF;
    }
    .container .change>label:hover {
        cursor: pointer;
    }
    .container .change input[type="radio"] {
        display: none;
    }
}