@media (min-width: 500px) {
    .app {
        /* height: 100vh; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .app>aside>.side-navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 140px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .app>aside>.side-navigation>li {
        margin: 4px 0;
    }
    .app>aside>.side-navigation>li>button {
        width: 60px;
        height: 40px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #c62f2f;
        color: white;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .app>aside>.side-navigation>li>button:hover {
        cursor: pointer;
        transition: all 0.2s linear;
        transform: scale(1.1);
    }
    .app>.main {
        flex-grow: 1; /* main宽度自动填充 */
        padding: 0 40px;
        margin-left: 140px;
        background-color: #0070c0;
        overflow: auto;
    }
    .app>.main>.resume {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        border: 1px solid blue;
        background-color: white;
    }
    .app>.main>.resume section {
        border: 1px solid red;
        margin-top: 60px;
    }
    .app>.main>.resume section h1 {
        border: 1px solid #0070c0;
        padding: 4px 0;
        width: 180px;
        margin-bottom: 12px;
        border-radius: 26px;
        text-align: center;
        color: #0070c0;
    }
    .app>.main>.resume>.self-introduction>div {
        margin-left: 36px;
    }
    .app>.main>.resume>.self-introduction>div>div {
        margin-top: 6px;
    }
    .app>.main>.resume>.self-introduction .name {
        font-size: 26px;
        color: black;
    }
    .app>.main>.resume>.self-introduction svg:hover {
        cursor: pointer;
    }
}