<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-resume-2018</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="//at.alicdn.com/t/font_691556_pzp2ul2br9mp9zfr.js"></script>
    <script src="../vendors/leancloud-storage/av-min.js"></script>
    <script src="../vendors/vue/vue.min.js"></script>
</head>

<body>
    <div id="app" class="app">
        <div id="resume-edit-area" class="resume-edit-area" v-show="showEditArea">
            <aside>
                <ul class="side-navigation">
                    <li>
                        <button @click=changeBackground>新建</button>
                    </li>
                    <li>
                        <button @click=preview>预览</button>
                    </li>
                    <li>
                        <button @click=save>保存</button>
                    </li>
                    <li>
                        <button @click=share>分享</button>
                    </li>
                    <li>
                        <button @click=print>打印</button>
                    </li>
                    <li>
                        <button @click=logout>退出</button>
                    </li>
                </ul>
            </aside>
            <div class="main">
                <div class="resume">
                    <!-- <div>展示登陆后用户信息：{{user.currentUser}}</div>
                    <div>展示简历信息：{{resume}}</div> -->
                    <section class="self-introduction">
                        <h1>个人简介</h1>
                        <div class="details">
                            <div class="applicant-name">
                                <span>姓名：</span>
                                <editable-span v-bind:value="resume.name" v-on:edit="onEdit('name',$event)"></editable-span>
                            </div>
                            <div class="applicant-gender">
                                <span>性别：</span>
                                <select name="gender" id="gender" v-model="resume.gender">
                                    <option disabled value="">请选择</option>
                                    <option>男</option>
                                    <option>女</option>
                                </select>
                            </div>
                            <div class="applicant-age">
                                <span>年龄：</span>
                                <editable-span v-bind:value="resume.age" v-on:edit="onEdit('age',$event)"></editable-span>
                            </div>
                            <div class="address">
                                <span>居住地：</span>
                                <!-- <editable-span v-bind:value="resume.address" v-on:edit="onEdit('address',$event)"></editable-span> -->
                                <select name="address" id="address" v-model="resume.address.prov">
                                        <option v-for="option in arr" v-bind:value="option.name">{{option.name}}</option>
                                    </select>
                                    <select name="city" id="city" v-model="resume.address.city">
                                        <option v-for="option in cityArr" v-bind:value="option.name">{{option.name}}</option>
                                    </select>
                                    <select name="district" id="district" v-model="resume.address.district" v-if="resume.address.district">
                                        <option v-for="option in districtArr" v-bind:value="option.name">{{option.name}}</option>
                                    </select>
                            </div>
                            <div class="contact">
                                <span>手机号码：</span>
                                <editable-span v-bind:value="resume.phone" v-on:edit="onEdit('phone',$event)"></editable-span>
                            </div>
                            <div class="job-title">
                                <span>求职意向: &nbsp;</span>
                                <editable-span v-bind:value="resume.jobTitle" v-on:edit="onEdit('jobTitle',$event)"></editable-span>
                            </div>
                            <div class="links">
                                <span>博客链接：</span>
                                <editable-span v-bind:value="resume.blogLink" v-on:edit="onEdit('blogLink',$event)"></editable-span>
                            </div>
                            <div class="links">
                                <span>Github链接：</span>
                                <editable-span v-bind:value="resume.githubLink" v-on:edit="onEdit('githubLink',$event)"></editable-span>
                            </div>
                        </div>
                    </section>
                    <!-- <section class="education">
                        <h1>教育经历</h1>
                        <p>XXX</p>
                    </section> -->
                    <section class="skills">
                        <h1>技能描述</h1>
                        <ul>
                            <li v-for="(skill,index) in resume.skills">
                                <editable-span class="skill-name" v-bind:value="skill.name" v-on:edit="onEdit(`skills[${index}].name`,$event)"></editable-span>
                                <div class="horizon"></div>
                                <editable-textarea class="skill-description" v-bind:value="skill.description" v-on:edit="onEdit(`skills[${index}].description`,$event)"></editable-textarea>
                                <span class="remove" @click=removeSkill title="删除该技能描述">X</span>
                            </li>
                        </ul>
                        <span class="add-skill" @click=addSkill title="添加你的技能描述">+</span>
                    </section>
                    <section class="projects">
                        <h1>项目经历</h1>
                        <ol>
                            <li v-for="(project,index) in resume.projects">
                                <div class="project-name">
                                    <span>项目名称：</span>
                                    <editable-span v-bind:value="project.name" v-on:edit="onEdit(`projects[${index}].name`,$event)"></editable-span>
                                </div>
                                <div class="project-keywords">
                                    <span>关键词：</span>
                                    <editable-span v-bind:value="project.keywords" v-on:edit="onEdit(`projects[${index}].keywords`,$event)"></editable-span>
                                </div>
                                <div class="project-description">
                                    <span>项目描述</span>
                                    <editable-textarea v-bind:value="project.description" v-on:edit="onEdit(`projects[${index}].description`,$event)"></editable-textarea>
                                </div>
                                <div class="project-preview-link">
                                    <span>阅览链接：</span>
                                    <editable-span v-bind:value="project.previewLink" v-on:edit="onEdit(`projects[${index}].previewLink`,$event)"></editable-span>
                                </div>
                                <div class="project-code-link">
                                    <span>源码链接：</span>
                                    <editable-span v-bind:value="project.codeLink" v-on:edit="onEdit(`projects[${index}].codeLink`,$event)"></editable-span>
                                </div>
                                <div class="horizon"></div>
                            </li>
                        </ol>
                        <span class="add-project" @click=addProject title="添加你的项目经历">+</span>
                    </section>
                </div>
            </div>
        </div>
        <div class="login-or-registered" v-show="!showEditArea" v-cloak>
            <div class="registered container" v-if="actionType === 'registered'">
                <h1>Vue.js简历编辑器</h1>
                <p>欢迎注册</p>
                <form @submit.prevent=registered>
                    <div class="formRow">
                        <span>昵称:</span>
                        <input type="text" v-model="user.name" placeholder="请输入您的用户名">
                    </div>
                    <div class="formRow">
                        <span>邮箱:</span>
                        <input type="email" v-model="user.email" placeholder="请输入您的用户名">
                    </div>
                    <div class="horizon"></div>
                    <div class="formRow">
                        <span>密码:</span>
                        <input type="password" v-model="user.pwd" placeholder="请输入您的密码">
                    </div>
                    <div class="horizon"></div>
                    <div class="formRow">
                        <span>确认密码:</span>
                        <input type="password" v-model="user.confirmPwd" placeholder="请输入您的密码">
                    </div>
                    <div class="horizon"></div>
                    <label for="submit-registered" class="formActions">
                        <input id="submit-registered" type="submit" value="注册">
                    </label>
                </form>
                <div class="protocol">
                    <p>注册即代表你使用《假装协议》</p>
                    <a href="#">注册机构号</a>
                </div>
                <div class="change">
                    <span>已有账号？</span>
                    <label for="login">
                        <input id="login" type="radio" value="login" v-model="actionType">去登陆
                    </label>
                </div>
            </div>
            <div class="login container" v-if="actionType === 'login'">
                <h1>Vue.js简历编辑器</h1>
                <p>欢迎使用</p>
                <form @submit.prevent=login>
                    <div class="formRow">
                        <input type="text" v-model="user.name" placeholder="请输入您的昵称">
                    </div>
                    <div class="horizon"></div>
                    <div class="formRow">
                        <input type="password" v-model="user.pwd" placeholder="请输入您的密码">
                    </div>
                    <div class="horizon"></div>
                    <label for="submit-login" class="formActions">
                        <input id="submit-login" type="submit" value="登陆">
                    </label>
                </form>
                <div class="protocol">
                    <a href="#">手机验证码登陆</a>
                    <a href="#">忘记密码？</a>
                </div>
                <div class="change">
                    <span>没有账号？</span>
                    <label for="registered">
                        <input id="registered" type="radio" value="registered" v-model="actionType">去注册
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/av-init.js"></script>
    <script src="./js/component.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>